<head>
    <title>Airbnb Listings</title>
    <style>
        .menu {
          background-color: rgb(0, 157, 255);
          padding: 10px;
        }
        
        .menu ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        
        .menu li {
          display: inline;
          margin-right: 10px;
        }
        
        .menu a {
          text-decoration: none;
          color: #333;
          padding: 5px;
          border-radius: 4px;
        }
        
        .menu a:hover {
          background-color: #333;
          color: #fff;
        }
        </style>
        
        <div class="menu">
          <ul>
            <li><a href="/listings">Listings</a></li>
            <li><a href="/transportation">Transportation</a></li>
            <li><a href="/attractions">Attractions</a></li>
          </ul>
        </div>
        
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: rgb(0, 157, 255);
        }
    </style>
    
</head>

<body>
    <form method="post" action = "">
        {{ form.hidden_tag() }}
        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">Filter By</legend>
            <section>
            <div style = "float:left; margin-right:20px;" class = "form-group" name="area">
                <label for = "{{ form.area.id }}" class = "form-control-label">{{ form.area.label.text }}</label>
                    {% if form.area.errors %}
                        {{ form.area(class = "form-control form-control-lg is-invalid") }}
                        <div class = "invalid-feedback">
                            {% for error in form.area.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.area(class = "form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div style = "float:left; margin-right:20px;"  class = "form-group">
                <label for = "{{ form.loc.id }}" class = "form-control-label">{{ form.loc.label.text }}</label>
                    {% if form.loc.errors %}
                        {{ form.loc(class = "form-control form-control-lg is-invalid") }}
                        <div class = "invalid-feedback">
                            {% for error in form.loc.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.loc(class = "form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div style = "float:left; margin-right:20px;" class = "form-group">
                <label for = "{{ form.room_type.id }}" class = "form-control-label">{{ form.room_type.label.text }}</label>
                    {% if form.room_type.errors %}
                        {{ form.room_type(class = "form-control form-control-lg is-invalid") }}
                        <div class = "invalid-feedback">
                            {% for error in form.room_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.room_type(class = "form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div style = "float:left; margin-right:20px;" class = "form-group">
                <label for = "{{ form.minprice.id }}" class = "form-control-label">{{ form.minprice.label.text }}</label>
                    {% if form.minprice.errors %}
                        {{ form.minprice(class = "form-control form-control-lg is-invalid") }}
                        <div class = "invalid-feedback">
                            {% for error in form.minprice.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.minprice(class = "form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div style = "float:left; margin-right:20px;" class = "form-group">
                <label for = "{{ form.maxprice.id }}" class = "form-control-label">{{ form.maxprice.label.text }}</label>
                    {% if form.maxprice.errors %}
                        {{ form.maxprice(class = "form-control form-control-lg is-invalid") }}
                        <div class = "invalid-feedback">
                            {% for error in form.maxprice.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.maxprice(class = "form-control form-control-lg") }}
                    {% endif %}
            </div>
            </section>

        </div>
        </fieldset>
        <div class = "form-group">
            {{ form.submit(class = "btn btn-primary mb-2") }}
        </div>
    </form>    
      
    <!-- <form method="post">
        <select name="test">
            <option value="1">Area</option>
            <option value="2">Location</option>
            <option value="3">Room Type</option>
            <option value="4">Price</option>
        </select>

         <button type="submit" name="submit" value="Submit"
        >Sort</button>
    </form> -->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Area</th>
                <th>Location</th>
                <th>Room Type</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for d in data %}
                <tr>
                    <td>{{d[0]}}</td>
                    <td>{{d[1]}}</td>
                    <td>{{d[2]}}</td>
                    <td>{{d[3]}}</td>
                    <td>{{d[4]}}</td>        
                {% endfor %}
            </tr>
        </tbody>
    </table>
</body>